In [2]:
import pandas as pd 
import numpy as np

In [3]:
ds=pd.read_csv('Global Health Statistics.csv')

### Explore the Dataset

In [4]:
ds.head()

,Country,Year,Disease Name,Disease Category,Prevalence Rate (%),Incidence Rate (%),Mortality Rate (%),Age Group,Gender,Population Affected,...,Hospital Beds per 1000,Treatment Type,Average Treatment Cost (USD),Availability of Vaccines/Treatment,Recovery Rate (%),DALYs,Improvement in 5 Years (%),Per Capita Income (USD),Education Index,Urbanization Rate (%)
0,Italy,2013,Malaria,Respiratory,0.95,1.55,8.42,0-18,Male,471007,...,7.58,Medication,21064,No,91.82,4493,2.16,16886,0.79,86.02
1,France,2002,Ebola,Parasitic,12.46,8.63,8.75,61+,Male,634318,...,5.11,Surgery,47851,Yes,76.65,2366,4.82,80639,0.74,45.52
2,Turkey,2015,COVID-19,Genetic,0.91,2.35,6.22,36-60,Male,154878,...,3.49,Vaccination,27834,Yes,98.55,41,5.81,12245,0.41,40.20
3,Indonesia,2011,Parkinson's Disease,Autoimmune,4.68,6.29,3.99,0-18,Other,446224,...,8.44,Surgery,144,Yes,67.35,3201,2.22,49336,0.49,58.47
4,Italy,2013,Tuberculosis,Genetic,0.83,13.59,7.01,61+,Male,472908,...,5.90,Medication,8908,Yes,50.06,2832,6.93,47701,0.50,48.14

In [5]:
ds.tail()

,Country,Year,Disease Name,Disease Category,Prevalence Rate (%),Incidence Rate (%),Mortality Rate (%),Age Group,Gender,Population Affected,...,Hospital Beds per 1000,Treatment Type,Average Treatment Cost (USD),Availability of Vaccines/Treatment,Recovery Rate (%),DALYs,Improvement in 5 Years (%),Per Capita Income (USD),Education Index,Urbanization Rate (%)
999995,Saudi Arabia,2021,Parkinson's Disease,Infectious,4.56,4.83,9.65,0-18,Female,119332,...,4.23,Vaccination,4528,Yes,92.11,1024,3.88,29335,0.75,27.94
999996,Saudi Arabia,2013,Malaria,Respiratory,0.26,1.76,0.56,0-18,Female,354927,...,6.34,Surgery,20686,No,84.47,202,7.95,30752,0.47,77.66
999997,USA,2016,Zika,Respiratory,13.44,14.13,1.91,19-35,Other,807915,...,8.11,Therapy,18807,No,86.81,3338,7.31,62897,0.72,46.90
999998,Nigeria,2020,Asthma,Chronic,1.96,14.56,4.98,61+,Female,385896,...,6.91,Medication,21033,Yes,62.15,4806,3.82,98189,0.51,34.73
999999,Indonesia,2004,Asthma,Neurological,15.58,9.84,0.51,36-60,Other,632775,...,6.79,Therapy,505,Yes,77.23,3241,1.11,79640,0.42,78.51

In [6]:
ds.describe()

,Year,Prevalence Rate (%),Incidence Rate (%),Mortality Rate (%),Population Affected,Healthcare Access (%),Doctors per 1000,Hospital Beds per 1000,Average Treatment Cost (USD),Recovery Rate (%),DALYs,Improvement in 5 Years (%),Per Capita Income (USD),Education Index,Urbanization Rate (%)
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,2011.996999,10.047992,7.555005,5.049919,500735.427363,74.987835,2.747929,5.245931,25010.313665,74.496934,2499.144809,5.002593,50311.099835,0.650069,54.985212
std,7.217287,5.740189,4.298947,2.859427,288660.116648,14.436345,1.299067,2.742865,14402.279227,14.155168,1443.923798,2.888298,28726.959359,0.144472,20.214042
min,2000.000000,0.100000,0.100000,0.100000,1000.000000,50.000000,0.500000,0.500000,100.000000,50.000000,1.000000,0.000000,500.000000,0.400000,20.000000
25%,2006.000000,5.090000,3.840000,2.580000,250491.250000,62.470000,1.620000,2.870000,12538.000000,62.220000,1245.000000,2.500000,25457.000000,0.530000,37.470000
50%,2012.000000,10.040000,7.550000,5.050000,501041.000000,75.000000,2.750000,5.240000,24980.000000,74.470000,2499.000000,5.000000,50372.000000,0.650000,54.980000
75%,2018.000000,15.010000,11.280000,7.530000,750782.000000,87.490000,3.870000,7.620000,37493.000000,86.780000,3750.000000,7.510000,75195.000000,0.780000,72.510000
max,2024.000000,20.000000,15.000000,10.000000,1000000.000000,100.000000,5.000000,10.000000,50000.000000,99.000000,5000.000000,10.000000,100000.000000,0.900000,90.000000

In [8]:
ds.shape

(1000000, 22)

In [7]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 22 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   Country                             1000000 non-null  object
 1   Year                                1000000 non-null  int64
 2   Disease Name                        1000000 non-null  object
 3   Disease Category                    1000000 non-null  object
 4   Prevalence Rate (%)                 1000000 non-null  float64
 5   Incidence Rate (%)                  1000000 non-null  float64
 6   Mortality Rate (%)                  1000000 non-null  float64
 7   Age Group                           1000000 non-null  object
 8   Gender                              1000000 non-null  object
 9   Population Affected                 1000000 non-null  int64
 10  Healthcare Access (%)               1000000 non-null  float64
 11  Doctors per 1000                    1000000 non-null  float64
 12  Hospital Beds per 1000              1000000 non-null  float64
 13  Treatment Type                      1000000 non-null  object
 14  Average Treatment Cost (USD)        1000000 non-null  int64
 15  Availability of Vaccines/Treatment  1000000 non-null  object
 16  Recovery Rate (%)                   1000000 non-null  float64
 17  DALYs                               1000000 non-null  int64
 18  Improvement in 5 Years (%)          1000000 non-null  float64
 19  Per Capita Income (USD)             1000000 non-null  int64
 20  Education Index                     1000000 non-null  float64
 21  Urbanization Rate (%)               1000000 non-null  float64
dtypes: float64(10), int64(5), object(7)
memory usage: 167.8+ MB

### HANDLE MISSING VALUES
##Find missing values and duplicate values

In [8]:
missing_value=ds[ds.isnull().any(axis=1)]
if not missing_value.empty:
    print("Missing Values Find")
    pint(missing_value)
else:
    print("No Missing Value find")

No Missing Value find

In [9]:
duplicate_value=ds[ds.duplicated()]
if not duplicate_value.empty:
    print("Duplicate Rows Found")
    print(duplicate_value)
else:
    print("No Duplicate value find")

No Duplicate value find

### Data Transformation

In [24]:
from sklearn.preprocessing import MinMaxScaler

# Min-Max Scaling
scaler = MinMaxScaler()
ds[['Prevalence Rate (%)', 'Incidence Rate (%)', 'Mortality Rate (%)']] = scaler.fit_transform(ds[['Prevalence Rate (%)', 'Incidence Rate (%)', 'Mortality Rate (%)']])

## VERIFY NORMALIZATION

In [26]:
ds[['Prevalence Rate (%)', 'Incidence Rate (%)', 'Mortality Rate (%)']].describe()

       Prevalence Rate (%)  Incidence Rate (%)  Mortality Rate (%)
count       1000000.000000      1000000.000000      1000000.000000
mean              0.499899            0.500336            0.499992
std               0.288452            0.288520            0.288831
min               0.000000            0.000000            0.000000
25%               0.250754            0.251007            0.250505
50%               0.499497            0.500000            0.500000
75%               0.749246            0.750336            0.750505
max               1.000000            1.000000            1.000000

In [27]:
ds.dtypes

Country                                object
Year                                    int32
Disease Name                           object
Disease Category                       object
Prevalence Rate (%)                   float64
Incidence Rate (%)                    float64
Mortality Rate (%)                    float64
Age Group                              object
Gender                                 object
Population Affected                     int64
Healthcare Access (%)                 float64
Doctors per 1000                      float64
Hospital Beds per 1000                float64
Treatment Type                         object
Average Treatment Cost (USD)            int64
Availability of Vaccines/Treatment     object
Recovery Rate (%)                     float64
DALYs                                   int64
Improvement in 5 Years (%)            float64
Per Capita Income (USD)               float64
Education Index                       float64
Urbanization Rate (%)                 float64
dtype: object

In [28]:
ds.isnull().sum()

Country                               0
Year                                  0
Disease Name                          0
Disease Category                      0
Prevalence Rate (%)                   0
Incidence Rate (%)                    0
Mortality Rate (%)                    0
Age Group                             0
Gender                                0
Population Affected                   0
Healthcare Access (%)                 0
Doctors per 1000                      0
Hospital Beds per 1000                0
Treatment Type                        0
Average Treatment Cost (USD)          0
Availability of Vaccines/Treatment    0
Recovery Rate (%)                     0
DALYs                                 0
Improvement in 5 Years (%)            0
Per Capita Income (USD)               0
Education Index                       0
Urbanization Rate (%)                 0
dtype: int64

In [ ]:
ds.duplicated